/* TOP AREA AND BUTTOM AREA */

.quizContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    width: 75vw;
    background-color: white;
    box-shadow: 0 0 15px #666666;
}
  
.questionContent {
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 125px;
}

.question {
    font-size: 50px;
}

strong {
    text-decoration: underline;
}
  
.answerContent {
    border-top: 1px solid black;
    width: 100%;
    height: 50%;
    text-align: center;
}



/* INPUT BOXES */

.ingrLabel {
    font-size: 30px;
}

.ingredient {
    width: 90px;
    height: 80px;
    border: 2px solid black;
}
  
.ingredient[type=number] {
    font-size: 30px;
    text-align: center;
}

.ingredientInput {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* HIDDEN INPUT BOXES */

.hideInput {
    color: white;
}

.disabled {
    background-color: white;
    border: none;
}

/* SUBMIT BUTTON */

#submit {
    border: none;
    background-color: #ff4d4d;
    border: 1px solid #ff1a1a;
    color: white;
    width: 200px;
    height: 100px;
    font-size: 35px;
}

#submit:hover {
    color: white;
    font-weight: 500;
    background-color: #ff1a1a;
    border: 1px solid #ff1a1a;
    transition: ease-in-out 0.5s;
}

/* HINT BUTTON */

.hint {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    color: #6666ff;
}

.hint:hover {
    color: #0000ff;
    transition: ease-in-out 0.5s;
}